.sidebar-icon-div {
    width: 70%;
    padding: 0.5rem 0.4rem;
    margin-bottom: 2rem;
    background: #899aad;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}