.header {
    height: auto;
    width: inherit;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: black;
}

.profile {
    margin-right: 0.5rem;
}
